.professional_section {
    background-color: #d1e3ff;
}

.professional_section-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.professional_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.professional_section .img-box img {
    width: 100%;
}

.professional_section .detail-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0355cc;
}

.professional_section .detail-box p {
    margin-top: 20px;
}

.professional_section .detail-box a {
    margin-top: 25px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ff8a1d;
    border: 1px solid #ff8a1d;
    border-radius: 2px;
    color: #ffffff;
}

.professional_section .detail-box a:hover {
    background-color: transparent;
    color: #ff8a1d;
}